<div class="container">
  <h2 class="tms-project-title"><%= @project.name %></h2>
  <h4 class="tms-project-progress"><%= @project.progress.to_s.slice(0, 4) %>%</h4>
  <div id="progress-chart"></div>
  <script>
    var chart = c3.generate({
      bindto: '#progress-chart',
      size: {
        width: 150,
        height: 150
      },
      data: {
        columns: [
          ['完了', <%= @project.progress %>],
          ['未完了', <%= 100 - @project.progress %>]
        ],
        type: 'pie',
        order: null
      }
    });
  </script>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">フェーズ名</th>
        <th scope="col">締め切り日付</th>
      </tr>
    </thead>
    <tbody>
      <% @phases.each do |phase| %>
        <tr>
          <td><a href="/projects/<%= @project.id %>/<%= phase.id %>"><%= phase.name %></a></td>
          <td><%= phase.deadline.to_s.gsub('-', '/') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @status == 0 %>
    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#create-phase-modal">新規フェーズ作成</button>
  <% end %>

  <form action="/projects/<%= @project.id %>/create_phase" method="post">
    <div class="modal fade" id="create-phase-modal" role="dialog" tabindex="-1" aria-labelledby="label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="label1">新規フェーズ作成</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
					    <div class="col">
						    <input class="form-control" type="text" name="phase_name" placeholder="フェーズ名">
                <input class="form-control datetimepicker-input" id="datetimepicker1" type="text" name="deadline_date" placeholder="締め切り日付" data-toggle="datetimepicker" data-target="#datetimepicker1">
					    </div>
              <script>
                $(function () {
                  $('#datetimepicker1').datetimepicker({
                    format: 'L'
                  });
                });
              </script>
            </div>
          </div>
          <div class="modal-footer">
            <button class="form-control btn btn-secondary" type="button" data-dismiss="modal">キャンセル</button>
            <input class="form-control btn btn-primary" type="submit" value="作成">
          </div>
        </div>
      </div>
    </div>
  </form>

</div>