<h2><%= @project.name %></h2>
<table>
  <thead>
    <tr>
      <th>フェーズ名</th>
      <th>締め切り日付</th>
    </tr>
  </thead>
  <tbody>
    <% @phases.each do |phase| %>
      <tr>
        <td><a href="/projects/<%= @project.id %>/<%= phase.id %>"><%= phase.name %></a></td>
        <td><%= phase.deadline.to_s.gsub('-', '/') %></td>
      </tr>
    <% end %>
    <tr><td><a href="/projects/<%= @project.id %>/create_phase">新規フェーズ作成</a></td></tr>
  </tbody>
</table>